$font-stack: 'Roboto' , sans-serif;

/* Light Blue */
$primary-color: #03A9F4; //500
$secondary-color: #039BE5; //600

/* Cyan
$primary-color: #00BCD4; //500
$secondary-color: #00ACC1; //600
*/

/* Teal */
$primary-color: #009688; //500
$secondary-color: #00897B; //600


/* Deep Purple
$primary-color: #673AB7; //500
$secondary-color: #5E35B1; //600
*/

/* Pink
$primary-color: #E91E63; //500
$secondary-color: #D81B60; //600
*/

/* Deep Orange */
$deep-orange: #FF5722;
/* Orange */
$orange: #FF9800;
/* Amber */
$red: #F44336;
/* Green */
$green: #4CAF50;
