/* ======================================================= */
/* ================================================ middle */
/* ======================================================= */

@import "_color-scheme.scss";

#middle {
    background: #f2f2f2;
}

.skill h2{
    margin-bottom: 25px;
}

.progress-wrap{
    position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
    background: $deep-orange;
}

.progress .color2,
.progress .color2 .bar-width{
    background: $orange;
}

.progress .color3,
.progress .color3 .bar-width{
    background: $red;
}

.progress .color4,
.progress .color4 .bar-width{
    background: $green;
}

.progress,
.progress-bar {
    height: 15px;
    line-height: 15px;
    background: #e6e6e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    text-align: right;
}

.progress{
    position: relative;
}

.progress .bar-width{
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    top: -30px;
    border-radius: 2px;
    margin-left: -30px;
}

.progress span{
    position: relative;
}

.progress span:before{
    content: " ";
    position: absolute;
    width: auto;
    height: auto;
    border-width: 8px 5px;
    border-style: solid;
    bottom: -15px;
    right: 8px;
}

.progress .color1 span:before{
    border-color: $deep-orange transparent transparent transparent;
}

.progress .color2 span:before{
    border-color: $orange transparent transparent transparent;
}

.progress .color3 span:before{
    border-color: $red transparent transparent transparent;
}

.progress .color4 span:before{
    border-color: $green transparent transparent transparent;
}

.accordion h2{
    margin-bottom: 25px;
}

.panel-default{
    border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
    background-color: #e6e6e6;
    border:0 none;
    box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
    background: #fff;
    color: #858586;
}

.panel-body{
    padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
    margin-top: 0;
    border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
    border-radius: 0;
}

.panel-heading{
    border-radius: 0;
}

.panel-title>a{
    color: #4e4e4e;
}

.accordion-inner img{
    border-radius: 4px;
}

.accordion-inner h4{
    margin-top: 0;
}

.panel-heading.active{
    background: #1f1f20;
}

.panel-heading.active .panel-title>a{
    color:#fff;
}

a.accordion-toggle  i{
    width: 45px;
    line-height: 44px;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    margin-right: -15px;
    background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
    background: $primary-color;
    color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
    background: $primary-color;
    color: #fff;
}

.nav-tabs>li{
    margin-bottom: 0px;
    border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
    border-bottom: transparent;
    border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
    background: #f5f5f5;
    color: #666;
    border-radius: 0;
    border: 0 none;
    line-height: 24px;
    margin-right:0;
    padding: 13px 15px;
}

.nav-tabs li:last-child{
    border-bottom: 0 none;
}

.nav-stacked>li+li{
    margin-top: 0;
}

.nav-tabs>li>a:hover{
    background: #1f1f20;
    color:#fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 0;
    color:#fff;
    background: #1f1f20;
    position: relative;
}

.nav-tabs>li.active>a:after {
    position: absolute;
    content:  "";
    width: auto;
    height: auto;
    border-style:solid;
    border-color: transparent transparent transparent #1f1f20;
    border-width: 25px 22px;
    right: -44px;
    top:0;
}

.tab-wrap{
    border:1px solid #e6e6e6;
    margin-bottom: 20px;
}

.tab-content{
    padding: 20px;
    min-height: 254px;
}

.tab-content h2{
    margin-top: 0;
}

.tab-content img{
    border-radius: 4px;
}

.testimonial h2{
    margin-top: 0;
}

.testimonial-inner {
    color:#858586;
    font-size: 14px;
}

.testimonial-inner .pull-left{
    border-right: 1px solid #e7e7e7;
    padding-right: 15px;
    position: relative;
}

.testimonial-inner .pull-left:after{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    margin-top: -5px;
    background: #FFF;
    -webkit-transform: rotate(45deg);
    border: 1px solid #e7e7e7;
    right: -5px;
    border-left: 0 none;
    border-bottom: 0 none;
}
