/* ======================================================= */
/* =============================================== partner */
/* ======================================================= */

@import "_color-scheme.scss";


#partner {
    background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
    background-size: cover;
}

#partner {
    color: #fff;
    text-align: center;
}

#partner h2,
#partner h3 {
    color: #fff;
}

.partners ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners ul li{
    display: inline-block;
    float: left;
    width: 20%;
}
